.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(
    50vh,
    calc(100vh - var(--nav-offset)),
    calc(100vh - var(--nav-offset))
  );
  overflow: hidden;
  isolation: isolate;
  background-image: url('../images//gridBackground.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.gridBackgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerAyah {
  font-size: clamp(3.4rem, 6.8vw, 7rem);
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--white, #ffffff);
  position: relative;
  z-index: 2;
  margin: 0;
  line-height: 170%;
  background: linear-gradient(to bottom, var(--white), #aaa 70%, var(--black) 90%);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


@media (max-width: 768px){
  .headerAyah {
    font-size: clamp(4rem, 5vw, 5rem);

    background: linear-gradient(to bottom, var(--white), #888 70%, var(--black) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
}