.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
}


.container{
    background-color: var(--black);
    border: 1px solid var(--white-15);
    max-width: clamp(40rem, 80vw, 80rem);
    padding: var(--padding-l);

}

.headWrapper, .contentWrapper{
    display: flex;
    flex-direction: column;
}

.headWrapper{
    gap: var(--gap-xs);

}

.contentWrapper{
    gap: var(--gap-m);

}

.descriptionText{
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
    line-height: 170%;
}

.buttonsWrapper{
    display: flex;
    gap: var(--gap-s);
    margin-top: var(--gap-m);
}

.buttonsWrapper > button{
    flex: 1;
}

@media (max-width: 768px){
    .container{
        max-width: 90%;
    }
}